
.card-container {
    float: left;
    margin: 100px 100px auto 250px;
    padding: 0vw 2vw 0vw 2vw;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    animation: ease-in;
  }


  .card-container:hover{
        transform: scale(1.1);
        box-shadow: 0 4px 8px 3 rgba(0,0,0,0.2);
  }
.card-title{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.btn{
    display: flex;
    float: left;
    margin:5px 10px auto;
    justify-content: center;

}

  
.btn button{
    padding: 1 rem;
    background-color: #6568f4;
    border: none;
}
